<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pw.mapper.BlogMapper">
    <resultMap type="com.pw.vo.BlogVO" id="blogMap">
        <id property="blogId" column="blog_id"/>
        <result property="blogTitle" column="blog_title"/>
        <result property="content" column="content"/>
        <result property="mkContent" column="mk_content"/>
        <result property="userId" column="user_id"/>
        <result property="typeName" column="type_name"/>
        <result property="blogAbstract" column="blog_abstract"/>
        <result property="isOriginal" column="is_original"/>
        <result property="coverUrl" column="cover_url"/>
        <collection property="tags" javaType="list" ofType="String" select="getTagsByBlogId"
                    column="{blogId = blog_id}">
            <result column="tag_id"/>
            <result column="tag_name"/>
        </collection>
    </resultMap>

    <!--博客列表查询-->
    <select id="list" resultMap="blogMap">
        select
        b.blog_id,
        b.blog_title,
        b.content,
        b.mk_content,
        b.user_id,
        b.type_id,
        b.cover_url,
        b.create_time,
        b.update_time,
        b.blog_abstract,
        b.is_original,
        bt.type_name,
        u.nick_name as author
        from `blog` b
        left join `user` u on u.user_id = b.user_id
        left join `blog_type` bt on b.type_id = bt.type_id
        <where>
            <if test="blogTitle != null and blogTitle!=''">
                and b.blog_title like "%${blogTitle}%"
            </if>
            <if test="userId != null and userId!=''">
                and
                b.user_id = "${userId}"
            </if>
            <if test="typeId != null and typeId!=''">
                and
                b.type_id = "${typeId}"
            </if>
            <if test="isOriginal != null and isOriginal!=''">
                and
                b.is_original = "${isOriginal}"
            </if>
            <if test="startTime != null and endTime != null">
                and
                b.create_time between #{startTime} and #{endTime}
            </if>

        </where>

        order by create_time desc
        <if test="pageNum != null and pageNum!='' and pageSize != null and pageSize!=''">
            LIMIT ${(pageNum-1)*pageSize},${pageSize}
        </if>

    </select>

    <select id="getTagsByBlogId" resultType="com.pw.vo.BlogTagVO">
        select bt.tag_id, bt.tag_name
        from `blog` b
                 join `blog_tag_relation` btr ON b.blog_id = btr.blog_id
            and b.blog_id = ${blogId}
                 join `blog_tag` bt on btr.tag_id = bt.tag_id
    </select>

    <!--博客列表计数-->
    <select id="count" resultType="integer">
        select count(*)
        from `blog` b
        <where>
            <if test="blogTitle != null and blogTitle!=''">
                and b.blog_title like "%${blogTitle}%"
            </if>
            <if test="userId != null and userId!=''">
                and
                b.user_id = "${userId}"
            </if>
            <if test="typeId != null and typeId!=''">
                and
                b.type_id = "${typeId}"
            </if>
            <if test="startTime != null and endTime != null">
                and
                b.create_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <!--按id查询-->
    <select id="getBlogById" resultMap="blogMap">
        select
        b.blog_id,
        b.blog_title,
        b.content,
        b.mk_content,
        b.user_id,
        b.cover_url,
        bt.type_name,
        u.nick_name as author
        from `blog` b
        join `blog_type` bt ON b.type_id = bt.type_id
        join `user` u on b.user_id = u.user_id
        <where>
            <if test="blogId != null and blogId!=''">
                and b.blog_id = "${blogId}"
            </if>
        </where>

    </select>

    <!--按月份查询-->
    <select id="countBlogByDateRange" resultType="com.pw.vo.BlogCountVO">
        SELECT
        create_time,
        count(*) as total
        FROM
        blog
        <where>
            <if test="userId != null and userId!=''">
                and user_id = "${userId}"
            </if>
            <if test="startTime != null and endTime != null">
                and
                create_time between "${startTime}" and "${endTime}"
            </if>
        </where>
        GROUP BY
        DATE_FORMAT( create_time, "%Y年%m月" )

    </select>

    <!--按分类统计-->
    <select id="countBlogByType" resultType="com.pw.vo.BlogTypeCountVO">
        SELECT bt.type_name,
        count(*) as total
        FROM `blog` b
        JOIN `blog_type` bt ON b.type_id = bt.type_id
        <if test="userId != null and userId!=''">
            and b.user_id = "${userId}"
        </if>
        <if test="startTime != null and startTime!='' and endTime != null and endTime!=''">
            and
            b.create_time between startTime and endTime
        </if>
        GROUP BY b.type_id

    </select>
</mapper>

