<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pw.mapper.UpdateLogMapper">

    <!--按月份查询-->
    <select id="countUpdateLogByDateRange" resultType="com.pw.vo.UpdateLogCountVO">
        SELECT
        operate_time,
        count(*) as total
        FROM
        update_log
        <where>
            <if test="startTime != null and endTime != null">
                and
                operate_time between #{startTime} and #{endTime}
            </if>
        </where>
        GROUP BY
        DATE_FORMAT(operate_time, "%Y年%m月" )
    </select>
</mapper>

