@charset "UTF-8";

/* 个人拟办 */
.CreateBoxTabs {
    box-shadow: 1px 0px 5px 0px rgba(216, 216, 216, 0.7500);
    background: #FFFFFF;
    border-radius: 20px;
}

.CreateBoxTabs .el-tabs__nav-wrap:after {
    display: none;
}

.CreateBoxTabs .el-tabs__item {
    border: none;
    background: transparent;
    margin-top: 5px;
}

.CreateBoxTabs .el-tabs__content {
    border: none;
}

.CreateBoxTabs .el-tabs__content>.el-tab-pane {
    padding-top: 5px;
}

.CreateBoxTabs .el-tabs__item:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #BEC1CB;
    position: absolute;
    top: 12px;
    left: 0px;
}

.CreateBoxTabs [id="tab-01"].el-tabs__item {
    margin-left: 5px;
}

.CreateBoxTabs [id="tab-01"].el-tabs__item:before {
    display: none;
}

.CreateBoxTabs .el-tabs__item.is-active:before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #BEC1CB;
    position: absolute;
    top: 12px;
    left: 0px;
    right: 0px;
}

.CreateBoxTabs .el-tabs__item {
    color: #283252;
    font-weight: bold;
    padding-bottom: 12px;
}

.CreateBoxTabs .el-tabs__item.is-active {
    color: #2247FF;
    background-color: transparent;
}

.CreateBoxTabs .k-sprite.k-sprite-default {
    background: url(../img/默认图标.png) no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    margin-top: 0px;
}

.CreateBoxTabs .k-big-sprite .custom-icons {
    margin-bottom: 0;
}

.CreateBoxTabs .k-big-sprite .custom-icons .custom-icons-img {
    width: 50px;
    height: 50px;
    border-radius: 14px;
}

.CreateBoxTabs .k-big-sprite .grid-content {
    font-size: 15px;
}

.CreateBoxTabs .k-big-sprite .el-col {
    width: 169px !important;
    height: 160px;
}

.CreateBoxTabs .k-big-sprite .el-col span {
    margin-top: 15px;
    background: url(../img/默认图标.png) no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.CreateBoxTabs .k-big-sprite .el-col:hover {
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.0800);
    border-radius: 10px;
}

.p-msgbox-auto .el-message-box__content {
    padding: 12px 20px 12px 20px;
    color: #606266;
    font-size: 14px;
}

/* Ã¨Â½Â¬Ã¤Â»Â¶ -- Ã¥Â¼â‚¬Ã¥Â§â€¹ */
.p-msgbox-auto .el-message-box__header {
    padding: 15px 15px 0px 10px;
}

.p-msgbox-auto .div-manual .manualList,
.p-msgbox-auto .div-manual .manualTree {
    width: auto;
    border: none
}

.p-msgbox-auto .el-message-box__content {
    padding: 12px 20px 12px 20px;
}

.p-msgbox-auto .el-message-box__title {
    font-size: 16px;
    color: #283252;
    font-weight: bold;
    margin-left: 20px;
}

.p-msgbox-auto .p-msgbox-header {
    line-height: 26px;
    margin-bottom: 16px;
    height: 40px;
    background: #E5E5ED;
    border-radius: 4px;
    border: none;
}

.p-msgbox-auto .div-manual .left {
    width: 255px;
}

.p-msgbox-auto .div-manual .right {
    margin-left: 20px;
    width: 545px;
}

.p-msgbox-auto .div-manual .block-panel .block-panel__body,
.p-msgbox-auto .div-manual .tree-panel .block-panel__body {
    padding-right: 15px;
}

.p-msgbox-auto .p-msgbox-header .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background-color: #2247FF;
    border-color: #2247FF;
}

.p-msgbox-auto .el-checkbox__input.is-checked .el-checkbox__inner,
.p-msgbox-auto .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2247FF;
    border-color: #2247FF;
}

.p-msgbox-auto .el-checkbox__inner:hover {
    border-color: #2247FF;
    background: #2247FF;
}

.p-msgbox-auto .el-input--small {
    padding: 10px 11px 5px 11px;
    width: calc(100% - 22px);
}

.p-msgbox-auto .div-manual .manualList,
.p-msgbox-auto .div-manual .manualTree {
    border: none;
    margin-right: 2px
}

.p-msgbox-auto .el-checkbox__label {
    color: #333333;
}

.p-msgbox-auto .el-input__prefix {
    left: 15px;
    top: 4px;
}

.p-msgbox-auto .div-manual .block-panel .block-panel__header,
.p-msgbox-auto .div-manual .block-panel .tree-panel__header,
.p-msgbox-auto .div-manual .tree-panel .block-panel__header,
.p-msgbox-auto .div-manual .tree-panel .tree-panel__header {
    color: #283252;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    background: #E5E5ED;
    border-radius: 4px;
}

.p-msgbox-auto .el-button {
    height: 32px;
    width: 86px;
    /* text-align: center; */
    /* display: flex; */
}

.p-msgbox-auto .el-message-box__title span:first-child:before {
    content: "";
    width: 3px;
    height: 16px;
    background: #2247FF;
    position: absolute;
    top: 15px;
    left: 20px;
}

.p-msgbox-auto *::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: transparent;
}

.p-msgbox-auto .el-checkbox.is-disabled.is-checked .el-checkbox__label {
    color: #2247FF;
}

.p-msgbox-auto .div-manual .block-panel .tree-panel__body {
    height: calc(30vh - 35px);
}

.p-msgbox-auto .p-msgbox-footer {
    display: flex;
    justify-content: right;
    margin-bottom: -15px;
    margin-top: 15px;
}

.p-msgbox-auto *::-webkit-scrollbar-track {
    background-color: transparent;
}

.p-msgbox-auto *::-webkit-scrollbar-thumb {
    background-color: #BCBCBC;
    border-radius: 4px;
    margin-right: 2px;
}

.p-msgbox-auto .el-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-msgbox-auto .focusTransition {
    height: 100px;
    margin-top: 10px !important;
}

.HandleBoxIndex .el-tabs__item,
.CreateBoxIndex .el-tabs__item,
.WaitBoxIndex .el-tabs__item {
    border: none;
    background: #ffffff;
    color: #283252;
    font-weight: bold;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.HandleBoxIndex .el-tabs__item[class]:nth-child(2),
.CreateBoxIndex .el-tabs__item[class]:nth-child(2),
.WaitBoxIndex .el-tabs__item[class]:nth-child(2) {
    border-radius: 4px;
    margin-left: 2px;
}

.HandleBoxIndex .el-tabs__item[class].is-active,
.CreateBoxIndex .el-tabs__item[class].is-active,
.WaitBoxIndex .el-tabs__item[class].is-active {
    color: #2247FF;

}

.HandleBoxIndex .el-tabs__header,
.CreateBoxIndex .el-tabs__header,
.WaitBoxIndex .el-tabs__header {
    border-radius: 4px 4px 0px 0px;
}

.HandleBoxIndex .el-tabs__content,
.CreateBoxIndex .el-tabs__content,
.WaitBoxIndex .el-tabs__content {
    background: transparent;
}


.HandleBoxIndex .el-tabs__item.is-active:before,
.CreateBoxIndex .el-tabs__item.is-active:before,
.WaitBoxIndex .el-tabs__item.is-active:before {
    display: none
}

.HandleBoxIndex .el-tabs__content,
.CreateBoxIndex .el-tabs__content,
.WaitBoxIndex .el-tabs__content {
    border: none;
}

.HandleBoxIndex .el-tabs__nav-wrap:after,
.CreateBoxIndex .el-tabs__nav-wrap:after,
.WaitBoxIndex .el-tabs__nav-wrap:after {
    display: none;
}

.HandleBoxIndex>.tlw-tabs .tlw-panel .t-panel-foot,
.HandleBoxIndex>.tlw-tabs .tlw-panel .t-panel-head,
.HandleBoxIndex>.tlw-tabs .tlw-panel .t-panel-toolbar,
.WaitBoxIndex>.tlw-tabs .tlw-panel .t-panel-foot,
.WaitBoxIndex>.tlw-tabs .tlw-panel .t-panel-head,
.WaitBoxIndex>.tlw-tabs .tlw-panel .t-panel-toolbar {
    height: 72px;
    background: #F9F9FC;
    line-height: 72px;
    margin-bottom: 10px;
    margin-top: -10px
}

.HandleBoxIndex>.tlw-panel .t-panel-content .t-panel-toolbar,
.HandleBoxIndex>.tlw-panel .t-panel-content .t-panel-toolbar {
    display: none;
}

.HandleBoxIndex>.tlw-panel .t-panel-content,
.WaitBoxIndex>.tlw-panel .t-panel-content {
    padding: 20px 20px 0;
    background: #fff;
}

.HandleBoxIndex .tlw-tabs .el-tabs__content>.el-tab-pane,
.WaitBoxIndex .tlw-tabs .el-tabs__content>.el-tab-pane {
    padding: 5px 20px 0;
}

.WaitBoxIndex,
.HandleBoxIndex {
    background-color: #fff;
}

.HandleBoxIndex .el-form--inline .el-form-item__content,
.WaitBoxIndex .el-form--inline .el-form-item__content {
    top: 20px;
}

.HandleBoxIndex .el-form-item__label,
.WaitBoxIndex .el-form-item__label {
    vertical-align: sub;
    margin-left: 20px;
}

.HandleBoxIndex .el-form--inline .el-form-item,
.WaitBoxIndex .el-form--inline .el-form-item {
    margin-right: 0px
}

/**/
.HandleBoxIndex .tlw-table .el-table__header,
.WaitBoxIndex .tlw-table .el-table__header {
    background-color: #E5E5ED;
}

.HandleBoxIndex .el-table__body,
.HandleBoxIndex .el-table__footer,
.HandleBoxIndex .el-table__header,
.WaitBoxIndex .el-table__body,
.WaitBoxIndex .el-table__footer,
.WaitBoxIndex .el-table__header {
    color: #333333;
}

.HandleBoxIndex .f-col-right .el-button,
.WaitBoxIndex .f-col-right .el-button {
    margin-left: 10px;
    width: 86px;
    height: 32px;
    background: #2247FF;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
}

.HandleBoxIndex .f-col-right,
.WaitBoxIndex .f-col-right {
    margin: 5px 10px 0 0px;
}

.HandleBoxIndex .el-tabs__item:after,
.WaitBoxIndex .el-tabs__item:after,
.CreateBoxIndex .el-tabs__item:after {
    position: absolute;
    top: 11px;
    left: -1px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    right: -1px;
    width: 1px;
    height: 16px;
    background: #BEC1CB;
}

.HandleBoxIndex .el-tabs__item[class]:nth-child(2):after,
.WaitBoxIndex .el-tabs__item[class]:nth-child(2):after,
.CreateBoxIndex .el-tabs__item[class]:nth-child(2):after {
    display: none
}

.workitemhandler>.el-header {
    background: url(../img/process-page.png) no-repeat 0px -56px;
    min-height: 80px;
}

.workitemhandler .header-menu .el-button,
.workitemhandler .header-menu.f-col-left .el-button {
    color: #283252
}

.workitemhandler .header-menu .el-button:hover,
.workitemhandler .header-menu.f-col-left .el-button:hover {
    color: #2247FF;
    background: transparent;
}

.workitemhandler .header-menu i:before {
    width: 38px;
    height: 38px;
    top: 95px;
    left: -4px;
    box-shadow: 1px 0px 5px 0px rgba(216, 216, 216, 0.75);
    border-radius: 12px;
}

.workitemhandler #btnSendFlow i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -59px -186px;
}

.workitemhandler #btnSendFlow:hover i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -59px -150px;
}

.workitemhandler #btnSubmitAllDocs i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -147px -185px;
}

.workitemhandler #btnSubmitAllDocs:hover i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -147px -149px;
}

.workitemhandler #btnShowFlow i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -254px -186px;
}

.workitemhandler #btnShowFlow:hover i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -254px -150px;
}

.workitemhandler #btnClose i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -352px -185px;
}

.workitemhandler #btnClose:hover i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -352px -149px;
}

.workitemhandler #print i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -574px -185px;
}

.workitemhandler #print:hover i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -574px -149px;
}

.workitemhandler #btnWithdrew i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -424px -185px;
}

.workitemhandler #btnWithdrew:hover i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -424px -149px;
}

.workitemhandler #btnSign i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -498px -185px;
}

.workitemhandler #btnSign:hover i:before {
    background: #ffffff url(../img/process-page.png) no-repeat -498px -149px;
}

.workitemhandler .splitter-header .header-menu.f-col-left {
    margin-left: 30px
}

.workitemhandler .splitter-header .header-menu.f-col-right {
    margin-right: 30px
}

.workitemhandler .f-columns {

    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

.v-iframe-html>body {
    padding: 0px
}

#fulldiv {
    border: none;

}

.workitemhandler .splitpanes__pane {
    box-shadow: 1px 0px 5px 0px rgba(216, 216, 216, 0.75);
    border-radius: 4px;
}

.workitemhandler_tree>.el-aside.el-tabs-flowss {
    margin-top: 1px;
}

.tlw-main-workhanlder>.el-aside {
    box-shadow: 0px 1px 6px 0px rgb(216 216 216 / 75%)
}

.workitemhandler .splitpanes.default-theme .splitpanes__pane {
    background: #ffffff;
}

