<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pw.mapper.BlogRecordMapper" >
    <!--完成实体类与表中类名的映射
        private String blogId;
        private String blogName;
        private String recordType;
        private String blogRecordId;
        private String recordTime;
        private String user_id;
        private String recordOperation;
    -->
    <resultMap id="recordMap" type="blogRecord">
        <id property="blogRecordId" column="id"></id>
        <result property="blogName" column="blog_name"></result>
        <result property="recordType" column="record_type"></result>
        <result property="blogId" column="blog_id"></result>
        <result property="recordTime" column="record_time"></result>
        <result property="recordOperation" column="record_operation"></result>
        <result property="userId" column="user_id"></result>
    </resultMap>
    <!--定义全部列名-->
    <sql id="allColumns">
        id,blog_name,record_type,blog_id,record_time,record_operation
    </sql>

    <!--添加博客修改记录 -->
    <insert id="createBlogRecord"  parameterType="blogRecord">
        insert into blog_record
        values(#{blogId},#{blogRecordId},#{blogName},#{recordType},#{recordTime},#{recordOperation},#{userId})
    </insert>
    <!--删除博客修改记录 -->
    <delete id="deleteBlogRecord"  parameterType="String">
        delete from blog_record
        where id = #{blogRecordId}
    </delete>
    <!--获取博客修改记录 -->
    <select id="getBlogRecord" resultMap="recordMap">
        select <include refid="allColumns"></include>
        from blog_record
        <where>
            <if test="userId != null and userId != ''">
                and user_id =#{userId}
            </if>
        </where>
        ORDER BY record_time;
        limit #{startRow},10
    </select>

    <!--更新博客 -->
    <update id="updateBlogRecord"  parameterType="blogRecord">
        update blog_record
        set blog_name = #{blogName},
            blog_id = #{blogId},
            record_type = #{recordType},
            record_time = #{recordTime},
            record_operation = #{recordOperation},
            user_id = #{userId}
        where blog_id = #{blogId}
    </update>

</mapper>