<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pw.mapper.WebRecordMapper" >
    <!--完成实体类与表中类名的映射
        private int id;
        private String name;
        private int blogId;
    -->
    <resultMap id="recordMap" type="WebRecord">
        <id property="id" column="id"></id>
        <result property="recordType" column="type"></result>
        <result property="recordTime" column="time"></result>
        <result property="operation" column="operation"></result>
    </resultMap>

    <!--定义全部列名-->
    <sql id="allColumns">
        id,type,time,operation
    </sql>

    <!--添加网站修改记录 -->
    <insert id="createWebRecord"  parameterType="WebRecord">
        insert into Web_record
        values values(#{id},#{recordType},#{recordTime},#{operation})
    </insert>
    <!--删除网站修改记录 -->
    <delete id="deleteWebRecord"  parameterType="String">
        delete from web_record
        where id = #{id}
    </delete>
    <!--获取网站修改记录 -->
    <select id="getWebRecord" resultMap="recordMap">
        select <include refid="allColumns"></include>
        from web_record
        <where>
            <if test="userId != null and userId != ''">
                and user_id =#{userId}
            </if>
        </where>
        ORDER BY time;
        limit #{startRow},10
    </select>

    <!--更新网站修改记录-->
    <update id="updateWebRecord"  parameterType="WebRecord">
        update web_record
        set blog_name = #{blogName},
            blog_id = #{blogId},
            record_type = #{recordType},
            record_time = #{time},
            record_operation = #{operation},
            user_id = #{userId}
        where blog_id = #{blogId}
    </update>

</mapper>